/* Global styles
body
  padding-top: 50px
  
input, textarea, select, .uneditable-input
  height: 25px    

.container-fluid
  .sidebar
    padding-top: 102px
    position: fixed
    
/* Store Catalog

#product_list
  .product_entry
    margin-bottom: 20px
    img
      width: 80px
      margin-right: 5px
      margin-bottom: 5px
      float: left
    h2
      margin-top: 0
      margin-bottom: 2px
      
    p
      margin-top: 0.5em
      margin-bottom: 0.8em
      
    .price_line
      clear: both
      margin-bottom: 0.5em
    .add_to_cart
      position: relative
    .price
      font-weight: bold
      margin-right: 2em
      font-weight: bold
      