#cart_title 
  = current_user.name
  = "Cart"

%table#line_items
  =render(cart.line_items)
  
  %tr#total_line
    %td{:colspan => 2} Total
    %td#total_cell= number_to_currency(cart.total_price)
-if cart.line_items.empty?
  %button#delete_cart{:class => 'btn',:href=>'#', 'data-cart-id' => @cart.id, :disabled => true}Empty Cart
-else   
  #delete_cart{:class => 'btn',:href=>'#', 'data-cart-id' => @cart.id } Empty Cart