.cart_title 
  Your Cart

%table
  =render(cart.line_items)
  
  %tr.total_line
    %td{:colspan => 2} Total
    %td.total_cell= number_to_currency(cart.total_price)

#delete_cart{:class => 'btn',:href=>'#', 'data-cart-id' => @cart.id} Empty Cart   
 
