/* Global styles */
/* line 4, ../sass/depot.sass */
.container-fluid .sidebar {
  padding-top: 40px;
  position: fixed;
}

/* line 8, ../sass/depot.sass */
.entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #7777dd;
}

/* line 14, ../sass/depot.sass */
#product_list table {
  border-collapse: collapse;
}
/* line 16, ../sass/depot.sass */
#product_list table tr td {
  padding: 5px;
  vertical-align: top;
}
/* line 19, ../sass/depot.sass */
#product_list .list_image {
  width: 60px;
  height: 70px;
}
/* line 22, ../sass/depot.sass */
#product_list .list_description {
  width: 60%;
}
/* line 24, ../sass/depot.sass */
#product_list .list_description dl {
  margin: 0;
}
/* line 26, ../sass/depot.sass */
#product_list .list_description dt {
  color: #224444;
  font-weight: bold;
  font-size: larger;
}
/* line 30, ../sass/depot.sass */
#product_list .list_description dd {
  margin: 0;
}
/* line 32, ../sass/depot.sass */
#product_list .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em;
}
/* line 36, ../sass/depot.sass */
#product_list .list_line_even {
  background: #e0f8f8;
}
/* line 38, ../sass/depot.sass */
#product_list .list_line_odd {
  background: #f8b0f8;
}

/* An entry in the store catalog */
/* line 45, ../sass/depot.sass */
#store .title {
  font-size: 120%;
  font-family: sans-serif;
}
/* line 49, ../sass/depot.sass */
#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left;
}
/* line 54, ../sass/depot.sass */
#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #222277;
}
/* line 58, ../sass/depot.sass */
#store .entry p {
  margin-top: 0.5em;
  margin-bottom: 0.8em;
}
/* line 61, ../sass/depot.sass */
#store .entry .price_line {
  clear: both;
  margin-bottom: 0.5em;
}
/* line 64, ../sass/depot.sass */
#store .entry .add_to_cart {
  position: relative;
}
/* line 66, ../sass/depot.sass */
#store .entry .price {
  color: #4444aa;
  font-weight: bold;
  margin-right: 2em;
  font-weight: bold;
}
/* line 71, ../sass/depot.sass */
#store .entry form {
  display: inline;
}
/* line 73, ../sass/depot.sass */
#store .entry form div {
  display: inline;
}
