/* Global styles */
#banner {
  background: #99cc99;
  padding: 10px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #228822;
  text-align: center; }
  #banner .img {
    float: left; }

#columns {
  background: #114411; }
  #columns #main {
    margin-left: 17em;
    padding: 1em;
    background: white; }
  #columns #side {
    float: left;
    padding: 1em 2em;
    width: 13em;
    background: #114411; }
    #columns #side ul {
      padding: 0; }
      #columns #side ul li {
        list-style: none; }
        #columns #side ul li .a {
          color: #bbaabb;
          font-size: small; }

#store #notice {
  color: black;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif; }
#store h1 {
  font: 150% sans-serif;
  color: #222266;
  border-bottom: 3px dotted #7777dd; }

/* Styles for products/index */
#product_list table {
  border-collapse: collapse; }
  #product_list table tr td {
    padding: 5px;
    vertical-align: top; }
#product_list .list_image {
  width: 60px;
  height: 70px; }
#product_list .list_description {
  width: 60%; }
  #product_list .list_description dl {
    margin: 0; }
  #product_list .list_description dt {
    color: #224444;
    font-weight: bold;
    font-size: larger; }
  #product_list .list_description dd {
    margin: 0; }
#product_list .list_actions {
  font-size: x-small;
  text-align: right;
  padding-left: 1em; }
#product_list .list_line_even {
  background: #e0f8f8; }
#product_list .list_line_odd {
  background: #f8b0f8; }

/* An entry in the store catalog */
#store.entry {
  overflow: auto;
  margin-top: 1em;
  border-bottom: 1px dotted #7777dd; }
#store.title {
  font-size: 120%;
  font-family: sans-serif; }
#store .entry img {
  width: 80px;
  margin-right: 5px;
  margin-bottom: 5px;
  float: left; }
#store .entry h3 {
  margin-top: 0;
  margin-bottom: 2px;
  color: #222277; }
#store .entry p {
  margin-top: 0.5em;
  margin-bottom: 0.8em; }
#store .entry .price_line {
  clear: both;
  margin-bottom: 0.5em; }
#store .entry .add_to_cart {
  position: relative; }
#store .entry.price {
  color: #4444aa;
  font-weight: bold;
  margin-right: 2em;
  font-weight: bold; }
#store .entry form {
  display: inline; }
  #store .entry form div {
    display: inline; }
