.product_entry
  %h2.product_title{'data-product-id' => product.id}
    =image_tag product.image_url, 'data-product-id' => product.id, :class => 'images'
    =product.title
    %p
      =sanitize(product.description)
  .price_line
    %button{:id => "add_prod_#{product.id}", :class => "add_to_cart btn btn-primary btn-large", :remote => 'true', 'data-product-id' => product.id }Add to Cart
    %span.price
      = number_to_currency product.price