%tr{:class => "line_item_entry", :id =>"#{line_item.product.id}"}
  %td#quantity=line_item.quantity
  %td
    .edit_line_item.modal.hide.fade.in
      .modal-header
        %a{ 'data-dismiss'=>"modal", :href=>"#", :class => "close"}&='×'
        %h3
          =line_item.product.title  
      .modal-body
        =twitter_bootstrap_form_for line_item,:remote => true do |f|
          =f.inputs do
            =f.number_field :quantity
          =f.actions do
            =f.submit 'Save'
            %button#delete_line_item{:class => 'btn',:href=>"#", 'data-dismiss'=>"modal", 'data-line-item-id' => line_item.id} Remove from Cart
            =button_tag  'Cancel', :type => 'reset', :class => 'btn'
                
    %a.edit{ :id => "#{line_item.product.id}", 'data-line-item-id'=> line_item.id, 'data-backdrop' => "true", 'data-controls-modal' => "event-modal", 'data-keyboard' => "true"}#{line_item.product.title}
  %td= number_to_currency(line_item.total_price)