%h1=@line_item.product.title

#update_line_item= link_to 'Update', line_item_path(@line_item), :method => :update, :remote => true
%input.delete_line_item{:type=>"button", :value=>'Remove from Cart', 'data-line-item-id' => @line_item.id}