-@products.each do |product|
  .entry
    =image_tag product.image_url, 'data-product-id' => product.id, :class => 'images'
    %h3
      =product.title
    =sanitize(product.description)
    .price_line   
      %a
        .add_to_cart{ :class => "btn btn-primary btn-large", :value=>'Add to ddddCart', 'data-product-id' => product.id, :id => product.id}
      %span.price
        = number_to_currency product.price