%html
  -lang="en"
  -debug="true"
  %link{"rel" => "stylesheet", "href" => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css", "type" => "text/css"}
  
  %head
    %title
      Pragprog Books Online
    = stylesheet_link_tag    "depot"
    = javascript_include_tag 'application'
    = csrf_meta_tags
    
%body
  =render :partial => "shared/flash_messages", :locals => {:flash => flash}
  .topbar
    .topbar-inner
      .container-fluid
        %a.brand{:href => store_path}
          =@page_title || "Pragmatic Bookshelf"
        %ul.nav
          %li.active
          %li
            %a{:href => "http://www..../faq"}FAQ     
          %li
            %a{:href => "http://www..../news"}News
          %li
            %a{href: "http://www..../contact"}Contacts         
        %p.pull-right
          Logged in as User
  .container-fluid
    .sidebar
      .well
        #cart
          - if !@cart.nil?
            =render @cart 
    .content
      .hero-unit
        %h1 Your Pragmatic Catalog
      .row
        .span16
          - if !@products.nil?
            =render @products
      .row
      %footer
        - if session[:counter] > 5
          %br
          ="You visited this page " + pluralize(session[:counter],'time', 'times')      